In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('weather (1).csv')

In [15]:
df

,time,temperature(°C),humidity(%),cloudcover(%),windspeed(km/h),irrediance(W/m²)
0,2023-07-09T00:00,21.6,69,21,20.8,0.0
1,2023-07-09T01:00,21.4,66,30,22.0,0.0
2,2023-07-09T02:00,21.2,67,33,22.0,0.0
3,2023-07-09T03:00,20.4,62,49,21.9,0.0
4,2023-07-09T04:00,20.3,62,100,19.7,0.0
...,...,...,...,...,...,...
8803,2024-07-09T19:00,28.3,72,0,25.2,154.0
8804,2024-07-09T20:00,26.9,79,0,25.7,33.6
8805,2024-07-09T21:00,25.9,84,0,24.3,0.0
8806,2024-07-09T22:00,25.3,87,0,21.9,0.0
8807,2024-07-09T23:00,25.0,89,0,21.4,0.0

In [16]:
df['time'] = pd.to_datetime(df['time'])

In [17]:
start_date = '2023-10-01'
end_date = '2023-10-31'
ekim_verileri = df[(df['time'] >= start_date) & (df['time'] <= end_date)]

In [18]:
ekim_verileri

,time,temperature(°C),humidity(%),cloudcover(%),windspeed(km/h),irrediance(W/m²)
2016,2023-10-01 00:00:00,18.1,94,100,9.7,0.0
2017,2023-10-01 01:00:00,18.4,93,100,10.6,0.0
2018,2023-10-01 02:00:00,18.4,92,66,11.3,0.0
2019,2023-10-01 03:00:00,18.3,94,100,13.8,0.0
2020,2023-10-01 04:00:00,18.4,94,51,14.8,0.0
...,...,...,...,...,...,...
2732,2023-10-30 20:00:00,18.8,89,4,17.3,0.0
2733,2023-10-30 21:00:00,18.4,91,7,15.3,0.0
2734,2023-10-30 22:00:00,18.1,93,8,11.5,0.0
2735,2023-10-30 23:00:00,17.8,94,5,9.8,0.0
2736,2023-10-31 00:00:00,17.5,94,4,8.7,0.0

In [19]:
ekim_verileri['time'] = df['time'].apply(lambda x: x.replace(year=2024))

C:\Users\EOS\AppData\Local\Temp\ipykernel_10380\170416623.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ekim_verileri['time'] = df['time'].apply(lambda x: x.replace(year=2024))

In [20]:
ekim_verileri

,time,temperature(°C),humidity(%),cloudcover(%),windspeed(km/h),irrediance(W/m²)
2016,2024-10-01 00:00:00,18.1,94,100,9.7,0.0
2017,2024-10-01 01:00:00,18.4,93,100,10.6,0.0
2018,2024-10-01 02:00:00,18.4,92,66,11.3,0.0
2019,2024-10-01 03:00:00,18.3,94,100,13.8,0.0
2020,2024-10-01 04:00:00,18.4,94,51,14.8,0.0
...,...,...,...,...,...,...
2732,2024-10-30 20:00:00,18.8,89,4,17.3,0.0
2733,2024-10-30 21:00:00,18.4,91,7,15.3,0.0
2734,2024-10-30 22:00:00,18.1,93,8,11.5,0.0
2735,2024-10-30 23:00:00,17.8,94,5,9.8,0.0
2736,2024-10-31 00:00:00,17.5,94,4,8.7,0.0

In [22]:
ekim_verileri.to_csv('ekim_verileri.csv', index=False)